In [16]:
!pip install duckdb --pre --upgrade  > /dev/null 2>&1
# pip install /home/sundy/work/databend/src/bendpy/dist/databend-1.1.37-cp37-abi3-manylinux_2_34_x86_64.whl 
!pip install databend===1.1.37   > /dev/null 2>&1
!pip show databend

Defaulting to user installation because normal site-packages is not writeable
Processing /home/sundy/work/databend/src/bendpy/dist/databend-1.1.37-cp37-abi3-manylinux_2_34_x86_64.whl
Installing collected packages: databend
  Attempting uninstall: databend
    Found existing installation: databend 0.1.3
    Uninstalling databend-0.1.3:
      Successfully uninstalled databend-0.1.3
Successfully installed databend-1.1.37
Name: databend
Version: 1.1.37
Summary:
Home-page:
Author: Databend Authors <opensource@datafuselabs.com>
Author-email: Databend Authors <opensource@datafuselabs.com>
License: Apache-2.0
Location: /home/sundy/.local/lib/python3.10/site-packages
Requires:
Required-by:

In [9]:
%%time

sf=10


import duckdb
import pathlib


for x in range(0, sf) :
  con=duckdb.connect()
  con.sql('PRAGMA disable_progress_bar;SET preserve_insertion_order=false')
  con.sql(f"CALL dbgen(sf={sf} , children ={sf}, step = {x})") 
  for tbl in ['nation','region','customer','supplier','lineitem','orders','partsupp','part'] :
     pathlib.Path(f'{sf}/{tbl}').mkdir(parents=True, exist_ok=True) 
     con.sql(f"COPY (SELECT * FROM {tbl}) TO '{sf}/{tbl}/{x:02d}.parquet' ")
  con.close()

CPU times: user 3min 44s, sys: 27.4 s, total: 4min 11s
Wall time: 1min 13s

In [5]:
from databend import SessionContext
import os

In [6]:
%%time

ctx = SessionContext()
pwd = os.getcwd()



for tbl in ['nation','region','customer','supplier','lineitem','orders','partsupp','part'] :
    ctx.sql(f"""drop table IF EXISTS {tbl}""").collect()
    print(f" create {tbl}")
    ctx.sql(f"""CREATE TABLE IF NOT EXISTS {tbl} AS SELECT * FROM 'fs://{pwd}/{sf}/{tbl}/' (pattern => '.*.parquet' ) """).collect()
    print(f" ana {tbl}")
    ctx.sql(f"""analyze table {tbl}""").collect()
    print(ctx.sql(f"""select count(1) from  {tbl}""").collect())

 create nation
 ana nation
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│       25 │
└──────────┘
 create region
 ana region
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│        5 │
└──────────┘
 create customer
 ana customer
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│  1500000 │
└──────────┘
 create supplier
 ana supplier
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│   100000 │
└──────────┘
 create lineitem
 ana lineitem
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│ 59986052 │
└──────────┘
 create orders
 ana orders
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│ 15000000 │
└──────────┘
 create partsupp
 ana partsupp
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│  8000000 │
└──────────┘
 create part
 ana part
┌──────────┐
│ count(1) │
│  UInt64  │
├──────────┤
│  2000000 │
└──────────┘
CPU times: user 5min 21s, sys: 1min 7s, total: 6min 29s
Wall time: 24.3 s

In [8]:
sql=(f'''
SELECT
    --Query01
    l_returnflag,
    l_linestatus,
    SUM(l_quantity) AS sum_qty,
    SUM(l_extendedprice) AS sum_base_price,
    SUM(l_extendedprice * (1 - l_discount)) AS sum_disc_price,
    SUM(l_extendedprice * (1 - l_discount) * (1 + l_tax)) AS sum_charge,
    AVG(l_quantity) AS avg_qty,
    AVG(l_extendedprice) AS avg_price,
    AVG(l_discount) AS avg_disc,
    COUNT(*) AS count_order
FROM
    lineitem
WHERE
    l_shipdate <= CAST('1998-09-02' AS date)
GROUP BY
    l_returnflag,
    l_linestatus
ORDER BY
    l_returnflag,
    l_linestatus;

    
SELECT
    --Query02
    s_acctbal,
    s_name,
    n_name,
    p_partkey,
    p_mfgr,
    s_address,
    s_phone,
    s_comment
FROM
    part,
    supplier,
    partsupp,
    nation,
    region
WHERE
    p_partkey = ps_partkey
    AND s_suppkey = ps_suppkey
    AND p_size = 15
    AND p_type LIKE '%BRASS'
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'EUROPE'
    AND ps_supplycost = (
        SELECT
            MIN(ps_supplycost)
        FROM
            partsupp,
            supplier,
            nation,
            region
        WHERE
            p_partkey = ps_partkey
            AND s_suppkey = ps_suppkey
            AND s_nationkey = n_nationkey
            AND n_regionkey = r_regionkey
            AND r_name = 'EUROPE'
    )
ORDER BY
    s_acctbal DESC,
    n_name,
    s_name,
    p_partkey
LIMIT
    100;







SELECT
    --Query03
    l_orderkey,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    o_orderdate,
    o_shippriority
FROM
    customer,
    orders,
    lineitem
WHERE
    c_mktsegment = 'BUILDING'
    AND c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate < CAST('1995-03-15' AS date)
    AND l_shipdate > CAST('1995-03-15' AS date)
GROUP BY
    l_orderkey,
    o_orderdate,
    o_shippriority
ORDER BY
    revenue DESC,
    o_orderdate
LIMIT
    10;


    





SELECT
    --Query04
    o_orderpriority,
    COUNT(*) AS order_count
FROM
    orders
WHERE
    o_orderdate >= CAST('1993-07-01' AS date)
    AND o_orderdate < CAST('1993-10-01' AS date)
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem
        WHERE
            l_orderkey = o_orderkey
            AND l_commitdate < l_receiptdate
    )
GROUP BY
    o_orderpriority
ORDER BY
    o_orderpriority;


    





SELECT
    --Query05
    n_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    customer,
    orders,
    lineitem,
    supplier,
    nation,
    region
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND l_suppkey = s_suppkey
    AND c_nationkey = s_nationkey
    AND s_nationkey = n_nationkey
    AND n_regionkey = r_regionkey
    AND r_name = 'ASIA'
    AND o_orderdate >= CAST('1994-01-01' AS date)
    AND o_orderdate < CAST('1995-01-01' AS date)
GROUP BY
    n_name
ORDER BY
    revenue DESC;


    




SELECT
    --Query06
    SUM(l_extendedprice * l_discount) AS revenue
FROM
    lineitem
WHERE
    l_shipdate >= CAST('1994-01-01' AS date)
    AND l_shipdate < CAST('1995-01-01' AS date)
    AND l_discount BETWEEN 0.05
    AND 0.07
    AND l_quantity < 24;


    




SELECT
    --Query07
    supp_nation,
    cust_nation,
    l_year,
    SUM(volume) AS revenue
FROM
    (
        SELECT
            n1.n_name AS supp_nation,
            n2.n_name AS cust_nation,
            EXTRACT(
                year
                FROM
                    l_shipdate
            ) AS l_year,
            l_extendedprice * (1 - l_discount) AS volume
        FROM
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2
        WHERE
            s_suppkey = l_suppkey
            AND o_orderkey = l_orderkey
            AND c_custkey = o_custkey
            AND s_nationkey = n1.n_nationkey
            AND c_nationkey = n2.n_nationkey
            AND (
                (
                    n1.n_name = 'FRANCE'
                    AND n2.n_name = 'GERMANY'
                )
                OR (
                    n1.n_name = 'GERMANY'
                    AND n2.n_name = 'FRANCE'
                )
            )
            AND l_shipdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
    ) AS shipping
GROUP BY
    supp_nation,
    cust_nation,
    l_year
ORDER BY
    supp_nation,
    cust_nation,
    l_year;


    




SELECT
    --Query08
    o_year,
    SUM(
        CASE
            WHEN nation = 'BRAZIL' THEN volume
            ELSE 0
        END
    ) / SUM(volume) AS mkt_share
FROM
    (
        SELECT
            EXTRACT(
                year
                FROM
                    o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) AS volume,
            n2.n_name AS nation
        FROM
            part,
            supplier,
            lineitem,
            orders,
            customer,
            nation n1,
            nation n2,
            region
        WHERE
            p_partkey = l_partkey
            AND s_suppkey = l_suppkey
            AND l_orderkey = o_orderkey
            AND o_custkey = c_custkey
            AND c_nationkey = n1.n_nationkey
            AND n1.n_regionkey = r_regionkey
            AND r_name = 'AMERICA'
            AND s_nationkey = n2.n_nationkey
            AND o_orderdate BETWEEN CAST('1995-01-01' AS date)
            AND CAST('1996-12-31' AS date)
            AND p_type = 'ECONOMY ANODIZED STEEL'
    ) AS all_nations
GROUP BY
    o_year
ORDER BY
    o_year;


    







SELECT
    --Query09
    nation,
    o_year,
    SUM(amount) AS sum_profit
FROM
    (
        SELECT
            n_name AS nation,
            EXTRACT(
                year
                FROM
                    o_orderdate
            ) AS o_year,
            l_extendedprice * (1 - l_discount) - ps_supplycost * l_quantity AS amount
        FROM
            part,
            supplier,
            lineitem,
            partsupp,
            orders,
            nation
        WHERE
            s_suppkey = l_suppkey
            AND ps_suppkey = l_suppkey
            AND ps_partkey = l_partkey
            AND p_partkey = l_partkey
            AND o_orderkey = l_orderkey
            AND s_nationkey = n_nationkey
            AND p_name LIKE '%green%'
    ) AS profit
GROUP BY
    nation,
    o_year
ORDER BY
    nation,
    o_year DESC;


    





SELECT
    --Query10
    c_custkey,
    c_name,
    SUM(l_extendedprice * (1 - l_discount)) AS revenue,
    c_acctbal,
    n_name,
    c_address,
    c_phone,
    c_comment
FROM
    customer,
    orders,
    lineitem,
    nation
WHERE
    c_custkey = o_custkey
    AND l_orderkey = o_orderkey
    AND o_orderdate >= CAST('1993-10-01' AS date)
    AND o_orderdate < CAST('1994-01-01' AS date)
    AND l_returnflag = 'R'
    AND c_nationkey = n_nationkey
GROUP BY
    c_custkey,
    c_name,
    c_acctbal,
    c_phone,
    n_name,
    c_address,
    c_comment
ORDER BY
    revenue DESC
LIMIT
    20;







SELECT
    --Query11
    ps_partkey,
    SUM(ps_supplycost * ps_availqty) AS value
FROM
    partsupp,
    supplier,
    nation
WHERE
    ps_suppkey = s_suppkey
    AND s_nationkey = n_nationkey
    AND n_name = 'GERMANY'
GROUP BY
    ps_partkey
HAVING
    SUM(ps_supplycost * ps_availqty) > (
        SELECT
            SUM(ps_supplycost * ps_availqty) / {sf} * (0.0001)
            -- SUM(ps_supplycost * ps_availqty) * 1
        FROM
            partsupp,
            supplier,
            nation
        WHERE
            ps_suppkey = s_suppkey
            AND s_nationkey = n_nationkey
            AND n_name = 'GERMANY'
    )
ORDER BY
    value DESC;


    





SELECT
    --Query12
    l_shipmode,
    SUM(
        CASE
            WHEN o_orderpriority = '1-URGENT'
            OR o_orderpriority = '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS high_line_count,
    SUM(
        CASE
            WHEN o_orderpriority <> '1-URGENT'
            AND o_orderpriority <> '2-HIGH' THEN 1
            ELSE 0
        END
    ) AS low_line_count
FROM
    orders,
    lineitem
WHERE
    o_orderkey = l_orderkey
    AND l_shipmode IN ('MAIL', 'SHIP')
    AND l_commitdate < l_receiptdate
    AND l_shipdate < l_commitdate
    AND l_receiptdate >= CAST('1994-01-01' AS date)
    AND l_receiptdate < CAST('1995-01-01' AS date)
GROUP BY
    l_shipmode
ORDER BY
    l_shipmode;


    





SELECT
    --Query13
    c_count,
    COUNT(*) AS custdist
FROM
    (
        SELECT
            c_custkey,
            COUNT(o_orderkey) AS c_count
        FROM
            customer
            LEFT OUTER JOIN orders ON c_custkey = o_custkey
            AND o_comment NOT LIKE '%special%requests%'
        GROUP BY
            c_custkey
    ) AS c_orders
GROUP BY
    c_count
ORDER BY
    custdist DESC,
    c_count DESC;


    





SELECT
    --Query14
    100.00 * SUM(
        CASE
            WHEN p_type LIKE 'PROMO%' THEN l_extendedprice * (1 - l_discount)
            ELSE 0
        END
    ) / SUM(l_extendedprice * (1 - l_discount)) AS promo_revenue
FROM
    lineitem,
    part
WHERE
    l_partkey = p_partkey
    AND l_shipdate >= date '1995-09-01'
    AND l_shipdate < CAST('1995-10-01' AS date);


    





SELECT
    --Query15
    s_suppkey,
    s_name,
    s_address,
    s_phone,
    total_revenue
FROM
    supplier,
    (
        SELECT
            l_suppkey AS supplier_no,
            SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
        FROM
            lineitem
        WHERE
            l_shipdate >= CAST('1996-01-01' AS date)
            AND l_shipdate < CAST('1996-04-01' AS date)
        GROUP BY
            l_suppkey
    ) revenue0
WHERE
    s_suppkey = supplier_no
    AND total_revenue = (
        SELECT
            MAX(total_revenue)
        FROM
            (
                SELECT
                    l_suppkey AS supplier_no,
                    SUM(l_extendedprice * (1 - l_discount)) AS total_revenue
                FROM
                    lineitem
                WHERE
                    l_shipdate >= CAST('1996-01-01' AS date)
                    AND l_shipdate < CAST('1996-04-01' AS date)
                GROUP BY
                    l_suppkey
            ) revenue1
    )
ORDER BY
    s_suppkey;


    





SELECT
    --Query16
    p_brand,
    p_type,
    p_size,
    COUNT(DISTINCT ps_suppkey) AS supplier_cnt
FROM
    partsupp,
    part
WHERE
    p_partkey = ps_partkey
    AND p_brand <> 'Brand#45'
    AND p_type NOT LIKE 'MEDIUM POLISHED%'
    AND p_size IN (
        49,
        14,
        23,
        45,
        19,
        3,
        36,
        9
    )
    AND ps_suppkey NOT IN (
        SELECT
            s_suppkey
        FROM
            supplier
        WHERE
            s_comment LIKE '%Customer%Complaints%'
    )
GROUP BY
    p_brand,
    p_type,
    p_size
ORDER BY
    supplier_cnt DESC,
    p_brand,
    p_type,
    p_size;


    





SELECT
    --Query17
    SUM(l_extendedprice) / 7.0 AS avg_yearly
FROM
    lineitem,
    part
WHERE
    p_partkey = l_partkey
    AND p_brand = 'Brand#23'
    AND p_container = 'MED BOX'
    AND l_quantity < (
        SELECT
            0.2 * AVG(l_quantity)
        FROM
            lineitem
        WHERE
            l_partkey = p_partkey
    );
    





SELECT
    --Query18
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice,
    SUM(l_quantity)
FROM
    customer,
    orders,
    lineitem
WHERE
    o_orderkey IN (
        SELECT
            l_orderkey
        FROM
            lineitem
        GROUP BY
            l_orderkey
        HAVING
            SUM(l_quantity) > 300
    )
    AND c_custkey = o_custkey
    AND o_orderkey = l_orderkey
GROUP BY
    c_name,
    c_custkey,
    o_orderkey,
    o_orderdate,
    o_totalprice
ORDER BY
    o_totalprice DESC,
    o_orderdate
LIMIT
    100;
    




SELECT
    --Query19
    SUM(l_extendedprice * (1 - l_discount)) AS revenue
FROM
    lineitem,
    part
WHERE
    (
        p_partkey = l_partkey
        AND p_brand = 'Brand#12'
        AND p_container IN (
            'SM CASE',
            'SM BOX',
            'SM PACK',
            'SM PKG'
        )
        AND l_quantity >= 1
        AND l_quantity <= 1 + 10
        AND p_size BETWEEN 1
        AND 5
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#23'
        AND p_container IN (
            'MED BAG',
            'MED BOX',
            'MED PKG',
            'MED PACK'
        )
        AND l_quantity >= 10
        AND l_quantity <= 10 + 10
        AND p_size BETWEEN 1
        AND 10
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    )
    OR (
        p_partkey = l_partkey
        AND p_brand = 'Brand#34'
        AND p_container IN (
            'LG CASE',
            'LG BOX',
            'LG PACK',
            'LG PKG'
        )
        AND l_quantity >= 20
        AND l_quantity <= 20 + 10
        AND p_size BETWEEN 1
        AND 15
        AND l_shipmode IN ('AIR', 'AIR REG')
        AND l_shipinstruct = 'DELIVER IN PERSON'
    );
    





SELECT
    --Query20
    s_name,
    s_address
FROM
    supplier,
    nation
WHERE
    s_suppkey IN (
        SELECT
            ps_suppkey
        FROM
            partsupp
        WHERE
            ps_partkey IN (
                SELECT
                    p_partkey
                FROM
                    part
                WHERE
                    p_name LIKE 'forest%'
            )
            AND ps_availqty > (
                SELECT
                    0.5 * SUM(l_quantity)
                FROM
                    lineitem
                WHERE
                    l_partkey = ps_partkey
                    AND l_suppkey = ps_suppkey
                    AND l_shipdate >= CAST('1994-01-01' AS date)
                    AND l_shipdate < CAST('1995-01-01' AS date)
            )
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'CANADA'
ORDER BY
    s_name;
    





SELECT
    --Query21
    s_name,
    COUNT(*) AS numwait
FROM
    supplier,
    lineitem l1,
    orders,
    nation
WHERE
    s_suppkey = l1.l_suppkey
    AND o_orderkey = l1.l_orderkey
    AND o_orderstatus = 'F'
    AND l1.l_receiptdate > l1.l_commitdate
    AND EXISTS (
        SELECT
            *
        FROM
            lineitem l2
        WHERE
            l2.l_orderkey = l1.l_orderkey
            AND l2.l_suppkey <> l1.l_suppkey
    )
    AND NOT EXISTS (
        SELECT
            *
        FROM
            lineitem l3
        WHERE
            l3.l_orderkey = l1.l_orderkey
            AND l3.l_suppkey <> l1.l_suppkey
            AND l3.l_receiptdate > l3.l_commitdate
    )
    AND s_nationkey = n_nationkey
    AND n_name = 'SAUDI ARABIA'
GROUP BY
    s_name
ORDER BY
    numwait DESC,
    s_name
LIMIT
    100;
    





SELECT
    --Query22
    cntrycode,
    COUNT(*) AS numcust,
    SUM(c_acctbal) AS totacctbal
FROM
    (
        SELECT
            SUBSTRING(c_phone, 1, 2) AS cntrycode,
            c_acctbal
        FROM
            customer
        WHERE
            SUBSTRING(c_phone, 1, 2) IN (
                '13',
                '31',
                '23',
                '29',
                '30',
                '18',
                '17'
            )
            AND c_acctbal > (
                SELECT
                    AVG(c_acctbal)
                FROM
                    customer
                WHERE
                    c_acctbal > 0.00
                    AND SUBSTRING(c_phone, 1, 2) IN (
                        '13',
                        '31',
                        '23',
                        '29',
                        '30',
                        '18',
                        '17'
                    )
            )
            AND NOT EXISTS (
                SELECT
                    *
                FROM
                    orders
                WHERE
                    o_custkey = c_custkey
            )
    ) AS custsale
GROUP BY
    cntrycode
ORDER BY
    cntrycode;
    
''')
import time
import pandas as pd
pd.set_option('display.max_columns', 20)
def execute_query(engine, sql_script):
    df = pd.DataFrame(columns=['dur'])
    sql_arr = sql_script.split(";")
    for index, value in enumerate(sql_arr,start=1):
        if len(value.strip()) > 0:
            start = time.time()
            print('Query' + str(index))
            try : 
             xx=engine.sql(value)
             print(xx)
             stop = time.time()
             duration = stop-start
            except  Exception as er:
              print(er)
              duration =0
            print(duration)
            row = {'dur': duration}
            df = pd.concat([df,pd.DataFrame(row, index=[index])], axis=0, ignore_index=True)
    return df

 
df = execute_query(ctx, sql)

Query1
┌──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│ l_returnflag │ l_linestatus │       sum_qty       │    sum_base_price   │    sum_disc_price   │      sum_charge      │       avg_qty       │      avg_price      │       avg_disc      │ count_order │
│  String NULL │  String NULL │ Decimal(38, 2) NULL │ Decimal(38, 2) NULL │ Decimal(38, 4) NULL │  Decimal(38, 6) NULL │ Decimal(38, 4) NULL │ Decimal(38, 4) NULL │ Decimal(38, 4) NULL │    UInt64   │
├──────────────┼──────────────┼─────────────────────┼─────────────────────┼─────────────────────┼──────────────────────┼─────────────────────┼─────────────────────┼─────────────────────┼─────────────┤
│ 'A'          │ 'F'          │ 377518399.00        │ 566065727797.25     │ 537759104278.0656   │ 559276670892.116819  │ 25.5009             │ 38237.1510          │ 0.0500              │    14804077 │
│ 'N'          │ 'F'          │ 9851614.00          │ 14767438399.17      │ 14028805792.2114    │ 14590490998.366737   │ 25.5224             │ 38257.8106          │ 0.0499              │      385998 │
│ 'N'          │ 'O'          │ 743124873.00        │ 1114302286901.88    │ 1058580922144.9638  │ 1100937000170.591854 │ 25.4980             │ 38233.9029          │ 0.0500              │    29144351 │
│ 'R'          │ 'F'          │ 377732830.00        │ 566431054976.00     │ 538110922664.7677   │ 559634780885.086257  │ 25.5083             │ 38251.2192          │ 0.0499              │    14808183 │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
0.7956042289733887
Query2
┌─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│      s_acctbal      │        s_name        │      n_name      │  p_partkey │      p_mfgr      │                  s_address                 │      s_phone      │                                              s_comment                                             │
│ Decimal(15, 2) NULL │      String NULL     │    String NULL   │ Int32 NULL │    String NULL   │                 String NULL                │    String NULL    │                                             String NULL                                            │
├─────────────────────┼──────────────────────┼──────────────────┼────────────┼──────────────────┼────────────────────────────────────────────┼───────────────────┼────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ 9994.37             │ 'Supplier#000030084' │ 'GERMANY'        │     380077 │ 'Manufacturer#5' │ 'Lpmw8Ht4rC,xjMQ0p50CkyG7764'              │ '17-519-171-6883' │ 'thely express instructions. regular hockey players was furiously. quickly pendi'                  │
│ 9992.54             │ 'Supplier#000099650' │ 'RUSSIA'         │     824625 │ 'Manufacturer#3' │ 'u8irlfFJRKkGmndVKa4LY'                    │ '32-971-481-2533' │ 'ironic ideas. special, ironic requests nag blithely. ironic deposits use furiously '              │
│ 9987.51             │ 'Supplier#000020657' │ 'ROMANIA'        │     395653 │ 'Manufacturer#5' │ 'XBf0Sq7X2xE0ZTakAq Rsq01lutxjWg'          │ '29-167-460-7830' │ ' unusual requests cajole across the fluffily final requests.'                                     │
│ 9986.40             │ 'Supplier#000082995' │ 'RUSSIA'         │    1782994 │ 'Manufacturer#5' │ 'p3Ipd2Un6pIK2'                            │ '32-510-919-3096' │ 'e packages. slyly unusual ideas use slyly. blithely ironic requests integrate furi'               │
│ 9984.69             │ 'Supplier#000008875' │ 'ROMANIA'        │     633856 │ 'Manufacturer#4' │ 'K9NcAhAt60 jA'                            │ '29-132-904-4395' │ ' carefully. furiously ironic requests about the care'                                             │
│ 9984.30             │ 'Supplier#000081977' │ 'RUSSIA'         │    1356963 │ 'Manufacturer#5' │ 'LMEM2XU7iYiU1qySKHCxvp'                   │ '32-569-570-6149' │ ', pending instructions unwind among'                                                              │
│ 9983.76             │ 'Supplier#000024757' │ 'RUSSIA'         │     599751 │ 'Manufacturer#4' │ 'xhP0Gm9AvzxXWjV3Ukz9rmh3s06o1'            │ '32-868-781-9721' │ 'regular accounts sleep furiously furiously close notornis. carefully silent foxes arou'           │
│ 9980.25             │ 'Supplier#000067392' │ 'RUSSIA'         │     192388 │ 'Manufacturer#2' │ 'Dmaw gIXZU1,iT1'                          │ '32-872-236-1034' │ 'to the slyly quick deposits. blithely special accounts boost furi'                                │
│ 9974.93             │ 'Supplier#000072260' │ 'ROMANIA'        │     397250 │ 'Manufacturer#3' │ 'JH BmpisKGh0AISYAHgyM,AJe4WcXI,TI'        │ '29-745-482-4154' │ 'play furiously according to the slyly unusual packages? slyly express instructions x-ray'         │
│ 9971.99             │ 'Supplier#000016715' │ 'FRANCE'         │     691708 │ 'Manufacturer#2' │ 'qHmxVVnEedvr5j1'                          │ '16-401-454-3384' │ '. furiously brave dependencies m'                                                                 │
│ 9968.96             │ 'Supplier#000085431' │ 'ROMANIA'        │    1885430 │ 'Manufacturer#4' │ ',JJ6NvcTq5k'                              │ '29-402-887-2528' │ 'des cajole across the furiously regular accounts; regular foxes haggle quickly across the furio'  │
│ 9967.60             │ 'Supplier#000028837' │ 'ROMANIA'        │     228836 │ 'Manufacturer#2' │ 'LqQdPou57tmHHJKlCNqgutRxG'                │ '29-105-576-2294' │ ' pinto beans. even accounts cajole abou'                                                          │
│ 9967.60             │ 'Supplier#000028837' │ 'ROMANIA'        │    1828836 │ 'Manufacturer#4' │ 'LqQdPou57tmHHJKlCNqgutRxG'                │ '29-105-576-2294' │ ' pinto beans. even accounts cajole abou'                                                          │
│ 9966.67             │ 'Supplier#000030306' │ 'UNITED KINGDOM' │    1280281 │ 'Manufacturer#3' │ 'uYbzF DXpZh942gzOveePcs217MFWCvV9sB'      │ '33-758-232-4917' │ ' pinto beans sleep alongside of '                                                                 │
│ 9962.57             │ 'Supplier#000034645' │ 'ROMANIA'        │     759623 │ 'Manufacturer#4' │ 'N3YBJpyKHSw5NS6UC42zVPacQuo'              │ '29-629-100-1429' │ 's wake furiously slyly express excuses. slyly blithe accounts lose a'                             │
│ 9957.83             │ 'Supplier#000012588' │ 'ROMANIA'        │      12587 │ 'Manufacturer#1' │ 'TO9shduokTtrABLH3gK bzUxPMc7g'            │ '29-373-772-7126' │ 'nstructions. slyly bold forges haggle blithely carefully regular accounts. fluf'                  │
│ 9956.67             │ 'Supplier#000074260' │ 'FRANCE'         │     124257 │ 'Manufacturer#2' │ '5SXrY50BbS lyD5vHcho,QTscW'               │ '16-511-538-8136' │ 's. furiously unusual theodolites haggle furiously. regular, '                                     │
│ 9945.36             │ 'Supplier#000036819' │ 'ROMANIA'        │     761797 │ 'Manufacturer#4' │ 'ehLsFCaW7Afny24rH3eRHl8HA8zT1DjvjE6x7'    │ '29-370-897-9499' │ 'ages nag regular, regular accounts. special, special requests use furi'                           │
│ 9944.02             │ 'Supplier#000010019' │ 'ROMANIA'        │    1810018 │ 'Manufacturer#4' │ 'VLtSIsInE0HovhLRId91z54Mqz fDa8'          │ '29-695-919-1392' │ 'p furiously furiously even asymptotes-- furiously even instructions are'                          │
│ 9942.90             │ 'Supplier#000019177' │ 'GERMANY'        │     494172 │ 'Manufacturer#5' │ '86idM87abnJTncO3xM'                       │ '17-316-670-1231' │ 'packages sublate slyly after the carefully pending reque'                                         │
│ ·                   │ ·                    │ ·                │          · │ ·                │ ·                                          │ ·                 │ ·                                                                                                  │
│ ·                   │ ·                    │ ·                │          · │ ·                │ ·                                          │ ·                 │ ·                                                                                                  │
│ ·                   │ ·                    │ ·                │          · │ ·                │ ·                                          │ ·                 │ ·                                                                                                  │
│ 9813.27             │ 'Supplier#000055123' │ 'ROMANIA'        │    1480080 │ 'Manufacturer#1' │ 'QnIiustd93PIKICa4Eduov5rgCXPZTZts2W'      │ '29-736-401-5608' │ ' quickly special orbits haggle quietly carefully final braids;'                                   │
│ 9809.56             │ 'Supplier#000078281' │ 'FRANCE'         │     778280 │ 'Manufacturer#4' │ 'RVseoVKzcWNxW,unkCEBCRmkVqOwY'            │ '16-497-471-5554' │ ' blithely final packages eat care'                                                                │
│ 9808.25             │ 'Supplier#000012649' │ 'ROMANIA'        │    1162626 │ 'Manufacturer#1' │ 'fN64kCIPh2sxQEmyJwB4tKtstoDr6uGSa2GOoAP6' │ '29-622-551-4334' │ 'ly. furiously even pinto beans eat slyly agains'                                                  │
│ 9807.53             │ 'Supplier#000000437' │ 'GERMANY'        │    1000436 │ 'Manufacturer#1' │ 'kxAiG0 gWtpUuVPN0O7Fc lAAqoj2L'           │ '17-652-134-3031' │ 'deposits. carefully silent instructi'                                                             │
│ 9801.15             │ 'Supplier#000089681' │ 'RUSSIA'         │    1339654 │ 'Manufacturer#5' │ 'vpxtZlvKIV ,fi2DbYA6U2TApyZ1xEcGfexMzp'   │ '32-947-140-8833' │ 've the fluffily pending excuses. carefull'                                                        │
│ 9799.89             │ 'Supplier#000059082' │ 'GERMANY'        │    1934062 │ 'Manufacturer#2' │ 'z rOv  rdWJB'                             │ '17-243-631-5701' │ 'nts hinder slyly along the carefully unusual theodolites. fluffily regular notornis play blithel' │
│ 9793.99             │ 'Supplier#000020982' │ 'ROMANIA'        │     170979 │ 'Manufacturer#4' │ ' h18i7FG6TGa3OyBED4cWi3fl'                │ '29-164-384-7339' │ 'lar requests. slyly final theodolites cajole bli'                                                 │
│ 9793.99             │ 'Supplier#000020982' │ 'ROMANIA'        │    1095971 │ 'Manufacturer#4' │ ' h18i7FG6TGa3OyBED4cWi3fl'                │ '29-164-384-7339' │ 'lar requests. slyly final theodolites cajole bli'                                                 │
│ 9789.61             │ 'Supplier#000034881' │ 'GERMANY'        │     284876 │ 'Manufacturer#4' │ '6OXnDv,evE0W2q9'                          │ '17-237-600-1480' │ 'ously pending accounts print after the requests. s'                                               │
│ 9788.73             │ 'Supplier#000083261' │ 'FRANCE'         │    1258248 │ 'Manufacturer#4' │ ',MCLWjlWut4ImK P0lOf6T8jL'                │ '16-653-115-5484' │ 'nto beans. quickly pending requests cajole again'                                                 │
│ 9784.65             │ 'Supplier#000099527' │ 'FRANCE'         │     624508 │ 'Manufacturer#4' │ 'Vr9OKI13Ow0nSvYu2'                        │ '16-658-692-3768' │ ' quickly regular theodolites. regular requests are above the blithely final dependencies. slowly' │
│ 9777.85             │ 'Supplier#000044409' │ 'GERMANY'        │    1419394 │ 'Manufacturer#5' │ 'JJcXwCQ1Ow3oBCT,KReCTpPbJTv'              │ '17-739-859-5666' │ 'er the carefully express theodolites. carefully ironic deposi'                                    │
│ 9777.75             │ 'Supplier#000030124' │ 'RUSSIA'         │     355114 │ 'Manufacturer#4' │ 'xa7WyLCrmh9lBKpBBXVy6gZ0BYDSr9x'          │ '32-554-818-8924' │ 'ns wake slyly. quickly silent deposits cajole. slyly final realms cajole furi'                    │
│ 9777.60             │ 'Supplier#000039017' │ 'UNITED KINGDOM' │     164013 │ 'Manufacturer#1' │ 'i3IznBvWbxzWDP3aHIDPoAFRK6C0EXnouvQ4Mi'   │ '33-324-389-9325' │ 'y up the quickly ironic platelets. blithely'                                                      │
│ 9777.60             │ 'Supplier#000039017' │ 'UNITED KINGDOM' │    1188994 │ 'Manufacturer#3' │ 'i3IznBvWbxzWDP3aHIDPoAFRK6C0EXnouvQ4Mi'   │ '33-324-389-9325' │ 'y up the quickly ironic platelets. blithely'                                                      │
│ 9777.37             │ 'Supplier#000071253' │ 'GERMANY'        │    1496210 │ 'Manufacturer#1' │ '33BSJiHID92'                              │ '17-239-283-7205' │ 'n deposits. blithely sly deposits across'                                                         │
│ 9771.20             │ 'Supplier#000065102' │ 'UNITED KINGDOM' │    1690053 │ 'Manufacturer#2' │ 'TPVzdXUjIjjCm6wrLFs yglw Cr'              │ '33-225-255-3440' │ 'ly carefully bold packages. unusual, unusual acc'                                                 │
│ 9769.57             │ 'Supplier#000043082' │ 'UNITED KINGDOM' │    1568036 │ 'Manufacturer#3' │ 'fMWwvOq,K1FamSxo b'                       │ '33-958-753-9986' │ 'egular deposits. ironic waters dazzle slyly about the blithely special excuses. slyly regu'       │
│ 9767.32             │ 'Supplier#000073781' │ 'FRANCE'         │    1823744 │ 'Manufacturer#4' │ 'g4fHtF2BDbMZ5uhHpBPQyzCg8Z9B34614pco'     │ '16-282-344-5601' │ 'fter the final ideas. even pinto beans believe. quickly bold accounts use instructions.'          │
│ 9766.22             │ 'Supplier#000066352' │ 'GERMANY'        │    1516321 │ 'Manufacturer#3' │ '2Old wsdnGtLTbsOc,'                       │ '17-427-880-3444' │ 'eposits use fluffily. ironic req'                                                                 │
│       100 rows      │                      │                  │            │                  │                                            │                   │                                                                                                    │
│      (40 shown)     │                      │                  │            │                  │                                            │                   │                                                                                                    │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
0.5568869113922119
Query3
┌──────────────────────────────────────────────────────────────────┐
│ l_orderkey │       revenue       │  o_orderdate │ o_shippriority │
│ Int32 NULL │ Decimal(38, 4) NULL │   Date NULL  │   Int32 NULL   │
├────────────┼─────────────────────┼──────────────┼────────────────┤
│    4791171 │ 440715.2185         │ '1995-02-23' │              0 │
│   46678469 │ 439855.3250         │ '1995-01-27' │              0 │
│   23906758 │ 432728.5737         │ '1995-03-14' │              0 │
│   23861382 │ 428739.1368         │ '1995-03-09' │              0 │
│   59393639 │ 426036.0662         │ '1995-02-12' │              0 │
│    3355202 │ 425100.6657         │ '1995-03-04' │              0 │
│    9806272 │ 425088.0568         │ '1995-03-13' │              0 │
│   22810436 │ 423231.9690         │ '1995-01-02' │              0 │
│   16384100 │ 421478.7294         │ '1995-03-02' │              0 │
│   52974151 │ 415367.1195         │ '1995-02-05' │              0 │
└──────────────────────────────────────────────────────────────────┘
0.5004520416259766
Query4
┌─────────────────────────────────┐
│  o_orderpriority  │ order_count │
│    String NULL    │    UInt64   │
├───────────────────┼─────────────┤
│ '1-URGENT'        │      105166 │
│ '2-HIGH'          │      104875 │
│ '3-MEDIUM'        │      105350 │
│ '4-NOT SPECIFIED' │      105370 │
│ '5-LOW'           │      105279 │
└─────────────────────────────────┘
0.5166592597961426
Query5
┌───────────────────────────────────┐
│    n_name   │       revenue       │
│ String NULL │ Decimal(38, 4) NULL │
├─────────────┼─────────────────────┤
│ 'INDIA'     │ 536862587.9995      │
│ 'CHINA'     │ 535350829.9282      │
│ 'VIETNAM'   │ 532269388.7176      │
│ 'JAPAN'     │ 526766837.1444      │
│ 'INDONESIA' │ 523176852.3189      │
└───────────────────────────────────┘
1.017242193222046
Query6
┌─────────────────────┐
│       revenue       │
│ Decimal(38, 4) NULL │
├─────────────────────┤
│ 1230113636.0101     │
└─────────────────────┘
0.34969305992126465
Query7
┌───────────────────────────────────────────────────────────────┐
│ supp_nation │ cust_nation │    l_year   │       revenue       │
│ String NULL │ String NULL │ UInt16 NULL │ Decimal(38, 4) NULL │
├─────────────┼─────────────┼─────────────┼─────────────────────┤
│ 'FRANCE'    │ 'GERMANY'   │        1995 │ 521960141.7003      │
│ 'FRANCE'    │ 'GERMANY'   │        1996 │ 524796110.3842      │
│ 'GERMANY'   │ 'FRANCE'    │        1995 │ 542199700.0546      │
│ 'GERMANY'   │ 'FRANCE'    │        1996 │ 533640926.2614      │
└───────────────────────────────────────────────────────────────┘
1.0472829341888428
Query8
┌───────────────────────────────────┐
│    o_year   │      mkt_share      │
│ UInt16 NULL │ Decimal(38, 4) NULL │
├─────────────┼─────────────────────┤
│        1995 │ 0.0388              │
│        1996 │ 0.0394              │
└───────────────────────────────────┘
1.536637544631958
Query9
┌──────────────────────────────────────────────────────┐
│      nation      │    o_year   │      sum_profit     │
│    String NULL   │ UInt16 NULL │ Decimal(38, 4) NULL │
├──────────────────┼─────────────┼─────────────────────┤
│ 'ALGERIA'        │        1998 │ 271504046.5508      │
│ 'ALGERIA'        │        1997 │ 457035986.9555      │
│ 'ALGERIA'        │        1996 │ 457125199.0414      │
│ 'ALGERIA'        │        1995 │ 460972497.0491      │
│ 'ALGERIA'        │        1994 │ 456444975.7127      │
│ 'ALGERIA'        │        1993 │ 456449926.4138      │
│ 'ALGERIA'        │        1992 │ 459548354.7680      │
│ 'ARGENTINA'      │        1998 │ 277792984.9141      │
│ 'ARGENTINA'      │        1997 │ 467555914.5594      │
│ 'ARGENTINA'      │        1996 │ 473886192.7453      │
│ 'ARGENTINA'      │        1995 │ 468457259.9584      │
│ 'ARGENTINA'      │        1994 │ 467071963.6041      │
│ 'ARGENTINA'      │        1993 │ 469523991.9188      │
│ 'ARGENTINA'      │        1992 │ 471169675.3110      │
│ 'BRAZIL'         │        1998 │ 278153002.0221      │
│ 'BRAZIL'         │        1997 │ 460597231.9522      │
│ 'BRAZIL'         │        1996 │ 465471604.2949      │
│ 'BRAZIL'         │        1995 │ 466391978.0645      │
│ 'BRAZIL'         │        1994 │ 466833690.9775      │
│ 'BRAZIL'         │        1993 │ 458908773.7974      │
│ ·                │           · │ ·                   │
│ ·                │           · │ ·                   │
│ ·                │           · │ ·                   │
│ 'UNITED KINGDOM' │        1997 │ 463575539.6379      │
│ 'UNITED KINGDOM' │        1996 │ 467451217.6874      │
│ 'UNITED KINGDOM' │        1995 │ 465308981.2708      │
│ 'UNITED KINGDOM' │        1994 │ 466317400.9398      │
│ 'UNITED KINGDOM' │        1993 │ 467140902.3099      │
│ 'UNITED KINGDOM' │        1992 │ 464629409.6613      │
│ 'UNITED STATES'  │        1998 │ 271746698.7703      │
│ 'UNITED STATES'  │        1997 │ 466200287.2350      │

## Result

In [9]:
import numpy as np
from psutil import *
vCPU = str(cpu_count()) + " vCPU"
mem=round(virtual_memory().total/(1024 * 1024 * 1024),0)
runtime = 'TPCH-SF'+str(sf)+' ,Vertex AI, N2-Standard-8, '+vCPU+' '+str(mem)+'GB'


df['query'] = df.index

df

         dur  query
0   0.795604      0
1   0.556887      1
2   0.500452      2
3   0.516659      3
4   1.017242      4
5   0.349693      5
6   1.047283      6
7   1.536638      7
8   3.420633      8
9   0.843503      9
10  0.203240     10
11  0.639703     11
12  1.537477     12
13  0.478736     13
14  0.439801     14
15  0.206958     15
16  1.591124     16
17  2.357540     17
18  1.063259     18
19  1.000997     19
20  4.400372     20
21  0.458240     21

In [10]:
df['dur'].sum()

24.962039947509766

## Plot TODO